{% extends "base.html" %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    <h1>Welcome to the Flask APP!</h1>
    <div class="ui statistics">
        <div class="statistic">
            <div class="value">22</div>
            <div class="label">Users</div>
        </div>
        <div class="statistic">
            <div class="value">31,200</div>
            <div class="label">Comments</div>
        </div>
        <div class="statistic">
            <div class="value">22</div>
            <div class="label">Posts</div>
        </div>
    </div>
{% endblock content %}
