{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
    <h1 class="mb-3">Welcome to the Instagram DataFlow!</h1>
    <form action="{{ url_for('dashboard.index') }}" method="post" class="input-group input-group-lg gap-1">
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control is-invalid", placeholder="Username") }}
        {{ form.submit(class="btn btn-dark rounded-0") }}
        {% if form.username.errors %}
        <div class="invalid-feedback">
            {{ form.username.errors[0] }}
        </div>
    {% endif %}
    </form>
{% endblock %}